<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>{{#link-to ‘videos’}}Videos{{/link-to}}</li>
            <li>{{#link-to ‘about’}}About{{/link-to}}</li>
            </ul> 
    </div>
</nav>